<configuration>

    <!-- Appender de Consola con Colores -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%highlight(%date{ISO8601} - %level - %logger{20} - %M - %file:%line - %msg%n)</pattern>
        </encoder>
    </appender>

    <!-- Appender de Archivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>application.log</file>  <!-- Ruta al archivo de log sin carpeta -->
        <encoder>
            <pattern>%date{ISO8601} - %level - %logger{20} - %M - %file:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración Global -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
